@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Poppins:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: 'Libre Caslon Text', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

html, body, .wrapper {
  height: 100%;
  overflow: hidden;
  background-color: #6210CC;
}

body .wrapper {
  margin: auto;
  max-width: 1000px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: 'Roboto';
}

sv-demo-title-left {
  color: #C1FBDF;
  font-size: 50px;
  line-height: 55px;
  font-weight: 900;
}

sv-demo-title-right {
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding-bottom: 16px;
}

sv-demo-sub-title {
  color: #ffffff;
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  width: 456px;
  display: flex;
  margin-top: 22px;
}

sv-demo-image {
  margin-bottom: 16px;
}

sv-demo-input {
  margin-bottom: 90px;
}

sv-demo-logo {
  height: 22px;
  width: 121px;
  display: flex;
  margin-bottom: 60px;
}

sv-demo-input:focus-visible {
  margin-bottom: 90px;
  outline: none;
}

.text-side {
  max-width: 456px;
  place-self: center;
}

.text-side-ready {
  max-width: 510px;
  place-self: center;
}

.box-side-guest {
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 384px;
  place-self: center;
}

.box-side {
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 384px;
  background-color: #ffffff;
  height: 363px;
  border-radius: 15px;
  padding: 40px;
}


.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0;
}

.box-wrapper {
  display: flex;
}

.text-wrapper {
  display: flex;
}

.invite-input {
  position: relative;
}

input.sv-demo-input {
  border: 1px solid #AEA9B8;
  width: 380px;
  height: 40px;
  border-radius:4px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 40px;

}

input.sv-demo-input:focus-visible {
  outline: none;
  outline-offset: none;
  margin:none;
  padding:none;
}

input.sv-demo-invite-input {
  background-color: #E9E5EF;
  border: none;
  width: 322px;
  height: 22px;
  border-radius: 100px;
  margin-bottom: 70px;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  color: #7E7A88;
  padding: 14px;
  padding-right: 44px;
}

input.sv-demo-invite-input:focus-visible {
  outline: none;
  outline-offset: none;
  margin:none;
  padding:none;
}

@media screen and (max-width: 935px) {
  .logo {
    display: flex;
    justify-content: center;
  }

  sv-demo-logo {
    margin-left: 10px;
    margin-bottom: 32px;
  }

  sv-demo-title-left {
    width: 345px;
    display: flex;
  }

  sv-demo-title-right {
    padding-top: 32px;
    text-align: center;
    max-width: 320px;
  }

  sv-demo-sub-title {
    font-size: 22px;
    line-height: 28px;
    margin-top: 8px;
    width: 345px;
    font-weight: 400px;
  }

  sv-demo-image {
    display: none;
  }

  sv-demo-guest-image {
    display: flex;
    width: 315px;
  }
  
  sv-demo-guest-button {
    padding-top: 32px;
  }
  
  input.sv-demo-input {
    width: 292px;
    padding: 0px;
    padding-left: 5px;
    margin-bottom: 40px;
  }

  .content-wrapper {
    flex-direction: column;
    justify-content: flex-start;
  }

  .box-side {
    place-self: center;
    margin-top: 36px;
    width: 345px;
    height: 250px;
    padding: 1px;
    border-radius: 10px;
  }

  .invite-input {
    position: relative;
  }
}